/* ==========================================================================
Main page styles
========================================================================== */
/* Home.scss */

.home-page {
  // ... (unchanged)

  .apartment-box {
    border-radius: 51%;
    padding: 20px;
    text-align: center;
  }
}
